.Search {
	margin: 0 auto;
	max-width: var(--reduced-width);
}

.Search .Searchbar {
	border-radius: 3px;
	border: 1px solid var(--accent-4);
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 10px;
	margin: 10px;
}

.Search .SearchOptions {
	margin: 0px;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-wrap: wrap;
	min-height: 45px;
}

.Search .SearchSuggestions {
	margin: 0px 10px;
	padding:0px;
	display: flex;
	justify-content: left;
	align-items: center;
	overflow-x: auto;
	overflow-y:hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	white-space: nowrap;
	min-height: 45px;
}

.Search .SearchSuggestions::-webkit-scrollbar {
	width: 0 !important;
}

.Search .SearchSuggestions button {
	margin: 0px 5px 0px 0px;
	color: var(--text-subtle);
	cursor: pointer;
	border: none;
	padding: 5px;
  /*background:var(--accent-5);*/
	background: none;
	border-radius: 5px;
	outline: none;
	font-size: 0.75em;
	text-align: left;
	transition: all .125s;
}

.Search .SearchSuggestions button:hover {
	background: var(--accent-5);
}

.Search .SearchSuggestions p {
	margin: 0px 5px 0px 0px;
	border: none;
	padding: 5px;
	background: var(--accent-1);
	color:var(--bg);
	border-radius: 5px;
	outline: none;
	text-align: left;
	font-size: 0.75em;
}

.Search .SearchOptions select,.Search .SearchOptions button {
	color: var(--text-subtle);
	cursor: pointer;
	border: none;
	padding: 10px;
	background: none;
	outline: none;
	font-size: 0.95em;
	text-align: left;
}

.Search .SearchOptions button {
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right-width: 1px;
	border-right-color: var(--text-subtle);
}

.Search .Searchbar button {
	color: var(--text);
	transition: all .125s;
	border-radius: 3px;
	background-color: var(--bg);
	border: none;
	padding: 5px;
}

.Search .Searchbar button:hover {
	background-color: var(--accent-5);
	color: var(--text);
	cursor: pointer;
}

.Search .NumberOfResults {
	color: var(--text-subtle);
	font-size: 0.95em;
	padding: 10px;
}

.Search .NumberOfResults a {
	text-decoration: none;
	color: darkgrey;
}

.Search .ScaleButtons{
	margin-left:auto;
	padding: 4px;
}

.Search .Searchbar .Searchfield {
	width: 100%;
	font-size: 1.25em;
	color: var(--text);
	word-spacing: 1px;
	border: 0px;
	background: none;
	outline: none;
}

.Search .Searchbar .CategoryNote {
	font-size: 1.25em;
	word-wrap: normal;
	background: darkgray;
	color: white;
	border-radius: 3px;
	padding: 4px;
	margin: 4px;
	white-space: nowrap;
}

.Search .Searchbar .CategoryNote:hover {
	background: lightcoral;
}

.Search .EarlyAccessAsk{
	
}

@media only screen and (max-width: 650px) {
	.Search .Links a {
      /*width:100%;*/
		font-size: 0.85em;
		padding: 5px;
	}

	.Search .Links {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	.Search .SearchOptions {
		flex-direction: column;
		align-items: stretch;
	}

	.Search .SearchOptions select {
		min-height: 40px;
	}

	.Search .NumberOfResults {
		margin: 10px 5px;
	}
}