main{
    margin: 0 auto;
    width: var(--reduced-width);
    max-width: 100%;
}

main .List{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

main .PaginationButton{
    transition: all .125s;
    width:100%;
    font-size: 1.25em;
    min-height: 60px;
    border-radius: 4px;
    padding:0px;
    margin:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

main .PaginationButton:hover{
    background-color:var(--accent-5);
}

main .PaginationButton a{
    text-align: center;
    width:100%;
    height:100%;
    text-decoration: none;
    color:var(--text-subtle);
}

main .PaginationButton a:active{
    color:var(--text-subtle);
}